.team-section {
    padding: 32px;
    margin: 0 0 32px 0;
    text-align: center;
    background-color: white;
}

.t-title-content {
    margin: 0 0 64px 0;
}

.t-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .7px;
}

.t-title > span {
    position: relative;
}

.t-title span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #9D2553;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}

.t-description {
    margin: 64px auto 0;
    text-align: center;
    color: rgb(77, 75, 75);
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    letter-spacing: .8px;
    line-height: 1.8rem;
}

/* Teams Cards */
.t-cards-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.t-card {
    width: calc(33.33% - 32px); /* Adjust based on your layout */
    max-width: 280px; /* Decreased width */
    height: 230px; /* Increased height */
    margin-bottom: 32px;
    text-align: center; /* Center align the content */
    font-family: 'Rubik', sans-serif;
    position: relative; /* Needed for shadow effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

@media screen and (max-width: 1000px) {
    .t-card {
        width: calc(50% - 32px); /* Adjust based on your layout */
    }
}

@media screen and (max-width: 700px) {
    .t-card {
        width: calc(100% - 32px); /* Adjust based on your layout */
    }
}

.t-card-img-container {
    width: 150px; /* Adjusted smaller size */
    height: 150px; /* Adjusted smaller size */
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #392467; /* Circular border with color #392467 */
    box-sizing: border-box; /* Include border in the container's dimensions */
    margin: 12px auto; /* Adjust the gap between the image and the border */
}

.t-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the circular container */
}

.t-card-info {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.t-card-name,
.t-card-title,
.t-card-stars {
    margin: 0;
}

.t-card-name {
    font-size: 18px; /* Decreased font size */
    font-weight: bold;
    letter-spacing: .7px;
}

.t-card-title,
.t-card-stars {
    font-size: 16px; /* Decreased font size */
    font-weight: bold;
    letter-spacing: .7px;
}